@mixin className($backgroundColor,
  $borderColor,
  $color,
  $hoverBackground,
  $hoverBorderColor,
  $hoverColor) {

  background: $backgroundColor !important;
  border-color: $borderColor !important;
  color: $color !important;

  &:hover {
    background: $hoverBackground !important;
    border-color: $hoverBorderColor !important;
    color: $hoverColor !important;
  }

  &:focus {
    outline: none !important;
  }
}

.primary {
  @include className(var(--color-primary), transparent, white, var(--color-primary-hover), transparent, white)
}

.primary-type-2 {
  @include className(var(--color-primary), transparent, white, white, var(--color-primary), black)
}

.third {
  @include className(white, var(--color-primary), var(--color-primary), white, var(--color-primary), var(--color-primary))
}

.third-type-2 {
  @include className(white, var(--color-primary), var(--color-primary), var(--color-primary-hover), transparent, white)
}

.red {
  @include className(#EB5757, transparent, white, #EB5757, transparent, white)
}

.submit-btn {
  font-weight: 600 !important;
  border-radius: 40px !important;
  width: 100% !important;
  height: 40px !important;
}

.medium-size {
  font-size: 17px !important;
  width: 135px !important;
  height: 40px !important;
  padding: 0 0 1px 0 !important;
  border-radius: 25px !important;
}

.big-size {
  font-size: 17px !important;
  width: 150px !important;
  height: 45px !important;
  padding: 0 0 1px 0 !important;
  border-radius: 25px !important;
}